<main class="yield-container">

    <div class="user_detail_errors">
    <% if session[:password_error] != nil %>
        <div><img class="nav-images" src="/icon_assets/info.svg" alt="Plants Added Information"><%=session[:password_error]%></div>
        <% session[:password_error] = nil%>
    <% end %>
    <% if session[:email_error] != nil %>
        <div><img class="nav-images" src="/icon_assets/info.svg" alt="Plants Added Information"><%=session[:email_error]%></div>
        <% session[:email_error] = nil %>
    <% end %>
    <% if @errors != nil %>
        <%@errors.each do |key,values| %>
            <% values.each do |value|%>
                <div>Error: <%=key.to_s%> <%=value%></div>
            <% end %>
        <% end %>
    <% end %>
    </div>
    <div class="user_detail_updates">
    <% if session[:password_updated] ==  true %>
        <div>Password Updated</div>
        <% session[:password_updated] = nil %>
    <% end %>
    <% if session[:email_updated] ==  true %>
        <div>Email Updated</div>
        <% session[:email_updated] = nil %>
    <% end %>
    <% if session[:username_updated] ==  true %>
        <div>Username Updated</div>
        <% session[:username_updated] = nil %>
    <% end %>
    </div>
    <div class="mydetails-container">
        <form action="/users/<%=current_user.id%>/update" method="post">
            <h1 class= "my-info-header">MY INFO</h1>
            <input type="hidden" name="user_id" value="<%=current_user.id%>">
            <div class="label-input-pair">
                <label for="">Username</label>
                <input type="text" name="username" placeholder="<%=current_user.username%>" value="">
            </div>
            <div class="label-input-pair">
                <label for="">Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="text" name="email" value="<%=current_user.email%>">
            </div>
            <div class="label-input-pair">
                <label for="">Confirm Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="text" name="confirm_email" value="">
            </div>
            <div class="label-input-pair">
                <label for="">Password&nbsp;</label>
                <input type="password" name="password" value="">
            </div>
            <div class="label-input-pair">
                <label for="">Confirm Password</label>
                <input type="password" name="confirm_password" value="">
            </div>
            <button class = "update-info-btn">Update Details</button>
        </form>

        <form action="/users/<%=current_user.id%>/settings" method="post">
                <h1 class= "my-info-header">MY GARDEN</h1>
            <input type="hidden" name="user_id" value="<%=current_user.id%>">
            <div class="label-input-pair">
                <label for="">Location</label>
                <div class="geo-wrapper2">
                    <input value="<%if current_user.location != nil%><%=current_user.location.latitude%><%end%>" step="1" min="-180" max ="180" class="mydetails-input latitude quarter-width-input" type="number" name='lat' placeholder="latitude">
                    <input value="<%if current_user.location != nil%><%=current_user.location.longitude%><%end%>" step="1" min="-180" max ="180" class="mydetails-input longitude quarter-width-input" type="number" name='long' placeholder="longitude">
                    <div type="button" class="mydetails-div">Current Location</div>
                </div>
            </div>
            <button class = "update-info-btn">Update Settings</button>
        </form>
    </div>
    <script src="/javascripts/location.js"></script>
</main>